.menu {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff; /* Hafif gri zemin */
  font-family: 'Poppins', sans-serif;
}


.menu .menuTitle {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: 700;
  color: #d35400; /* Şık turuncu ton */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  text-align: center;
}


.menuList {
  width: 70vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px; /* Kartlar arasında boşluk */
  place-items: center;
  margin-top: 40px;
}

@media only screen and (max-width: 1300px) {
  .menuList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .menuList {
    grid-template-columns: 1fr;
    width: 90%;
  }
}


.menuItem {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  cursor: pointer;
}

.menuItem:hover {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.menuItem div {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.menuItem:hover div {
  transform: scale(1.1); 
}


.menuItem h1 {
  font-size: 24px;
  font-weight: 600;
  margin-left: 20px;
  color: #333;
}

.menuItem p {
  font-size: 16px;
  color: #777;
  margin-left: 20px;
  margin-bottom: 10px;
}


.menuItem:hover h1 {
  color: #d35400; 
}

.menuItem:hover p {
  color: #555;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 0.3s ease;
}

.modal.show {
  opacity: 1; 
  pointer-events: all; 
}


.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  transform: translateY(-50px); 
  opacity: 0; 
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.modal.show .modalContent {
  transform: translateY(0); 
  opacity: 1; 
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #d35400; /* Turuncu renk */
}

/* Modal resim */
.modalContent img {
  width: 100%; /* Resim genişliğini modal boyutuna uydurur */
  height: auto; /* Yüksekliği orantılı tutar */
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover; /* Resmi uygun şekilde keser ve kapsar */
}